<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>¡Registro Exitoso!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center py-5">
<div class="container">
  <h1 class="mb-4">¡Bienvenido a la Escuela Deportiva!</h1>
  <p class="lead mb-4">Gracias por registrarte. Te esperamos los días que seleccionaste.</p>
  <a th:href="@{/escuela/login}" class="btn btn-primary">Ir a Login</a>
</div>
</body>
</html>
